<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>EDDS Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <link rel="stylesheet" href="/css/nav.css">

</head>
<body>
  <!-- Begin Nav bar -->
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Eu-Tech</span></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/eutech/eucaImages">Home</a></li>
        <li><a href="/eutech/eucaImages">Console</a></li>
        <li><a href="#">Training</a></li>
        <li>
              <form class="navbar-form" role="search">
                <div class="form-group">
                  <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                  <input type="text" class="search form-control" placeholder="Search 'xantho'">
                </div>
                </div>
              </form>
        </li>
        <li><p class="counter navbar-text"></li>
      </ul>
      <% if(user) {%>
      <div>
        <p class="navbar-text pull-right">
          <a href='/profile'><%= user.local.email %></a><a href="/logout"> (Logout)</a></p>
      </div>
      <% } else { %>
        <div>
          <p class="navbar-text pull-right">
            Go to <a href="/login"> log in</a></p>
        </div>
      <% } %>
    </div>
  </nav>
  </div>
    <!-- End Nav bar -->
<div class="container">

    <div class="page-header text-center">
        <h3><span class="fa fa-anchor"></span> User Profile</h3>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
