
.eucalist tr[visible='false'],
.no-result{
  display:none;
}

.eucalist tr[visible='true']{
  display:table-row;
}

.counter{
  padding:0px;
  color:#ccc;
}

.btn span.glyphicon {
	opacity: 0;
}
.btn.active span.glyphicon {
	opacity: 1;
}
